a {
  color: #C0C0C0;
  cursor: url("/cursor-move.png"), pointer;
  text-decoration: none;
}

  a:hover {
    color: #F0F0F0;
  }

body {
  background-color: #252525;
  background-image: url("/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: #F0F0F0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body,
select {
  cursor: url("/cursor-default.png"), default;
}

#bottom {
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  height: 100%;
}

  #bottom > div {
    bottom: 0;
  }

#day-night {
  -moz-animation: day-night 30s linear infinite;
  -o-animation: day-night 30s linear infinite;
  -webkit-animation: day-night 30s linear infinite;
  animation: day-night 30s linear infinite;
}

div {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
}

html {
  font-size: 16px;
  height: 100%;
  overflow: hidden;
}

#icon-preview-1,
#icon-preview-2,
#minimapborder {
  left: 0;
}

main {
  background-color: #202020;
  border-radius: 0.25rem;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  line-height: 2em;
  margin-top: -6.25%;
  text-align: center;
  top: 50%;
  width: 100%;
}

#minimap {
  background-color: #101010;
  background-image: url("/minimap.jpg");
  background-position: center center;
  background-size: 100% 100%;
}

#portrait-bg {
  background-color: #252525;
  background-position: center center;
  background-size: auto 100%;
  bottom: 30px !important;
}

select {
  background-color: #BABABA;
  border-color: #252525;
  border-radius: 0.5em;
  border-width: 2px;
  color: #000000;
  display: block;
  font-size: 1em;
  margin: 0 auto;
  padding: 0.25em;
}

#stash-lower {
  background-position: left bottom;
}

/*#top > div {
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}*/

@media (max-height: 0.5625vw) {
  body {
    background-size: 100% auto;
  }
}
