a {
  color: #A4D007;
  cursor: url("/cursor-move.png"), pointer;
  text-decoration: none;
}

  a:hover {
    color: #F0F0F0;
  }

body {
  background-color: #252525;
  background-image: url("/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: #F0F0F0;
  font-family: "Arial", "Helvetica", "Verdana", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body,
select {
  cursor: url("/cursor-default.png"), default;
}

#bottom {
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  height: 100%;
}

  #bottom > div {
    bottom: 0;
  }

cite {
  display: block;
  font-size: 0.75rem;
}

#day-night {
  -moz-animation: day-night 30s linear infinite;
  -o-animation: day-night 30s linear infinite;
  -webkit-animation: day-night 30s linear infinite;
  animation: day-night 30s linear infinite;
}

div {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
}

h1 {
  font-family: "Arial", "Helvetica", "Verdana", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  height: 100%;
  overflow: hidden;
}

#icon-preview-1,
#icon-preview-2,
#minimapborder {
  left: 0;
}

main {
  margin-top: -6.25%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

  main > section {
    background-color: #202020;
    border-radius: 0.25rem;
    box-shadow:
      0 1px 3px 0 rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12);
    display: inline-block;
    padding: 1em;
    text-align: center;
  }

    main > section > span:last-child {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: 1.5rem;
    }

#market {
  background-color: #A4D007;
  background-image: -webkit-linear-gradient(top, #A4D007 5%, #536904 95%);
  background-image: linear-gradient(to bottom, #A4D007 5%, #536904 95%);
  border-radius: 2px;
  border-width: 0;
  display: inline-block;
  line-height: 0;
  padding: 1px;
  text-align: center;
  text-decoration: none;
}

  #market > span {
    background-color: #799905;
    background-image: -webkit-linear-gradient(top, #799905 5%, #536904 95%);
    background-image: linear-gradient(to bottom, #799905 5%, #536904 95%);
    border-radius: 2px;
    color: #D2E885;
    display: block;
    font-size: 12px;
    line-height: 20px;
    padding: 0 15px;
    text-align: center;
    white-space: nowrap;
  }

#minimap {
  background-color: #101010;
  background-image: url("/minimap.jpg");
  background-position: center center;
  background-size: 100% 100%;
}

#portrait-bg {
  background-color: #252525;
  background-position: center center;
  background-size: auto 100%;
  bottom: 30px !important;
}

select {
  background-color: #BABABA;
  border-color: #252525;
  border-radius: 0.5em;
  border-width: 2px;
  color: #000000;
  display: block;
  font-size: 1em;
  margin: 1em auto;
  padding: 0.25em;
}

#stash-lower {
  background-position: left bottom;
}

/*#top > div {
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}*/

@media (max-aspect-ratio: 1.778) {
  body {
    background-size: 100% auto;
  }
}
